*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Colors */
  --color-primary: #4d4d4e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #7a7a7a;

  --text: var(--color-gray);
  --text-white: var(--color-white);
  --text-black: var(--color-black);

  --bckg-black: var(--color-black);
  --bckg-primary: var(--color-primary);
}

.body {
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

/* Global */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font: 600 normal 18px/1.4 "Montserrat", sans-serif;
}

h2 {
  font: 400 normal 16px/1.4 "Montserrat", sans-serif;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }

  h1 {
    font: 600 normal 30px/1.4 "Montserrat", sans-serif;
  }

  h2 {
    font: 400 normal 24px/1.4 "Montserrat", sans-serif;
  }
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  display: flex;
}

/* Header */
.header {
  width: 100%;
  padding: 7px 0;
  background-color: var(--color-primary);
}

.header__grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.header__logo {
  text-align: center;
  width: 100%;
  order: 1;
}

.header__menu {
  display: flex;
  column-gap: 10px;
  width: 50%;
  order: 3;
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
}

.submenu {
  font: 400 normal 12px/1.4 "Montserrat", sans-serif;
  position: absolute;
  top: 44px;
  left: 0;
  width: max-content;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  background-color: #4e4d4dbf;
}

.submenu.active {
  opacity: 1;
  visibility: visible;
}

.submenu a {
  display: block;
  padding: 10px 0;
  color: var(--text-white);
}

.menu__item-link {
  font: 600 normal 12px/1.4 "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--text-white);
  font-weight: 800;
}

.menu__item-link .icon {
  display: block;
  width: 30px;
  height: 29px;
}

.header__search {
  order: 2;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .header__grid {
    display: grid;
    grid-template-columns: 90px 1fr 3fr 50px;
    column-gap: 40px;
    align-items: center;
  }

  .header__logo {
    text-align: left;
    width: auto;
  }

  .header__menu {
    column-gap: 40px;
    width: auto;
  }

  .menu__item-link {
    font: 600 normal 14px/1.4 "Montserrat", sans-serif;
  }

  .header__search {
    order: 3;
  }
}

/* Search */
.body .is-form-style {
  border-radius: 100px;
  background: #fff;
  overflow: hidden;
}

.body .is-form-style input {
  background: #fff0 !important;
}

.body .is-form-style input.is-search-input,
.body .is-search-icon {
  border: 0 !important;
}

.header__cart {
  order: 3;
  width: 50%;
  text-align: right;
}

.header__cart a {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .header__cart {
    width: 35px;
  }
}

/* Hero */

.section-hero {
  padding: 20px 0 0 0;
  text-align: center;
}

.section-hero .desktop {
  display: none;
}

.section-hero .mobile figure {
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .section-hero {
    padding: 50px 0 0 0;
    aspect-ratio: inherit;
  }

  .section-hero .desktop {
    display: block;
  }

  .section-hero .mobile {
    display: none;
  }
}

/* Title */
.section-title {
  padding: 30px 0;
  text-align: center;
}

.section-subtitle {
  padding-bottom: 30px;
}

.section-copy {
  padding-bottom: 30px;
}

.section-copy p {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 20px;
}

.section-copy p:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .section-title {
    padding: 50px 0;
  }

  .section-copy {
    padding-bottom: 50px;
  }

  .section-copy p {
    font-size: 16px;
  }
}

/* Featured Products */
.section-featured-products {
  padding: 0 0 50px;
}

.section-featured-products__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.section-featured-products__grid li {
  list-style-type: none;
}

.section-featured-products__grid figure {
  padding: 20px;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.07);
  aspect-ratio: 1/1;
}

.section-featured-products__grid a {
  color: inherit;
}

.section-featured-products__grid a p {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

@media only screen and (min-width: 1024px) {
  .section-featured-products__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-featured-products__grid a p {
    font-size: 16px;
  }
}

/* content */
.content {
  padding-bottom: 30px;
}

.content__grid {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 20px;
}

.content__grid.reverse {
  flex-direction: column;
}

.content__text {
  display: grid;
  place-content: center;
  row-gap: 20px;
  text-align: justify;
}

.content__text h2 strong {
  font: 400 normal 16px/1.4 "Montserrat", sans-serif;
}

.content__grid figure {
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .content {
    padding-bottom: 50px;
  }

  .content__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }

  .content__text h2 strong {
    font: 400 normal 24px/1.4 "Montserrat", sans-serif;
  }
}

/* Footer */
.footer {
  padding: 30px 0 0;
  border-top: 1px solid #4e4d4d14;
}

.footer__grid {
  display: grid;
  row-gap: 50px;
}

.footer__location {
  display: grid;
  row-gap: 20px;
  color: var(--text-black);
}

.footer__location p {
  font: 400 normal 16px/1.4 "Montserrat", sans-serif;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__menu h3 {
  font: 700 normal 16px/1.4 "Montserrat", sans-serif;
}

.footer__menu a {
  font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  color: var(--text-black);
  text-decoration: underline;
  text-underline-position: under;
}

.footer__menu p {
  font: 400 normal 14px/1.4 "Montserrat", sans-serif;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
}

.footer__contact figure {
  width: 50px;
}

.footer__contact p,
.footer__contact a {
  font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  color: var(--text-black);
}

.footer__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  text-align: center;
  color: var(--text-white);
  background-color: var(--bckg-primary);
}

.footer__bottom p {
  font: 400 normal 10px/1.4 "Montserrat", sans-serif;
}

.footer__payment {
  justify-content: center;
  padding: 10px 0;
}

@media only screen and (min-width: 1024px) {
  .footer {
    padding: 50px 0 0;
  }

  .footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    padding-bottom: 50px;
  }

  .footer__bottom p {
    font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  }
}

/* Category product */
.woocommerce-products-header__title {
  font: 400 normal 16px/1.4 "Montserrat", sans-serif;
  padding-bottom: 30px;
}

.custom-category-product {
  padding: 50px 0;
}

.custom-category-product__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.custom-category-product .custom-category-product__product {
  position: relative;
  padding: 15px;
  border: 1px solid #4e4d4d03;
  list-style: none;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.07);
}

.custom-category-product .custom-category-product__product img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.custom-category-product .onsale {
  display: none;
}

.custom-category-product .woocommerce-loop-product__title {
  font: 400 normal 12px/1.4 "Montserrat", sans-serif;
  padding: 20px 0 10px;
  color: var(--text);
}

.custom-category-product .price {
  display: block;
  padding-bottom: 15px;
  color: var(--text);
}

.custom-category-product .price del {
  font: 400 normal 12px/1.4 "Montserrat", sans-serif;
  text-decoration: line-through;
}

.custom-category-product .price ins {
  font: 400 normal 18px/1.4 "Montserrat", sans-serif;
}

.custom-category-product .add_to_cart_button {
  display: none;
  font-size: 0;
  width: 45px;
  height: 45px;
  border: 1px solid #4e4d4d1c;
  background: url(/wp-content/themes/lmd-shop-v2/assets/images/icon-shopping-cart.png);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-category-product__cta {
  font: 800 normal 10px/1.4 "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  padding: 8px 10px;
  text-transform: uppercase;
  color: var(--text-white);
  background-color: var(--bckg-primary);
}

.custom-category-product .woocommerce-pagination {
  padding: 50px 0 0;
}

.custom-category-product .page-numbers {
  font: 400 normal 12px/1.4 "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.custom-category-product .page-numbers li {
  list-style: none;
}

.custom-category-product .page-numbers.current {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4e4d4d1c;
  width: 30px;
  height: 30px;
  color: var(--text-white);
  background: var(--bckg-primary);
}

.custom-category-product a.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: 30px;
  height: 30px;
  color: inherit;
}

@media only screen and (min-width: 1024px) {
  .woocommerce-products-header__title {
    font: 400 normal 24px/1.4 "Montserrat", sans-serif;
    padding-bottom: 50px;
  }

  .custom-category-product .custom-category-product__product {
    padding: 30px;
  }

  .custom-category-product .page-numbers {
    font: 400 normal 16px/1.4 "Montserrat", sans-serif;
    column-gap: 10px;
  }

  .custom-category-product .page-numbers.current {
    width: 40px;
    height: 40px;
  }

  .custom-category-product__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .custom-category-product .woocommerce-loop-product__title {
    font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  }

  .custom-category-product__cta {
    font: 800 normal 14px/1.4 "Montserrat", sans-serif;
    padding: 10px 20px;
  }

  .custom-category-product a.page-numbers {
    border: 1px solid;
    width: 40px;
    height: 40px;
    color: inherit;
  }
}

/* Single product */
.custom-single-product {
  padding: 50px 0;
}

.woocommerce-breadcrumb,
.custom-single-product .onsale {
  display: none;
}

.custom-single-product .woocommerce-product-gallery__image {
  text-align: center;
}

.custom-single-product .woocommerce-product-gallery,
.custom-single-product .summary {
  width: 100%;
}

.custom-single-product .summary {
  padding-top: 50px;
}

.custom-single-product .price {
  display: block;
  padding-bottom: 15px;
  color: var(--text);
}

.custom-single-product .price del {
  font: 400 normal 12px/1.4 "Montserrat", sans-serif;
  text-decoration: line-through;
}

.custom-single-product .price ins {
  font: 400 normal 18px/1.4 "Montserrat", sans-serif;
}

.custom-single-product .woocommerce-product-details__short-description {
  font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  text-align: justify;
  margin-bottom: 20px;
}

.custom-single-product .screen-reader-text {
  display: none;
}

.custom-single-product .cart {
  display: flex;
  column-gap: 10px;
}

.custom-single-product .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  border-radius: 17px;
}

.custom-single-product .quantity input {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 0px;
  border: 1px solid;
}

.custom-single-product .single_add_to_cart_button {
  font: 600 normal 14px/1.4 "Montserrat", sans-serif;
  background: #000;
  color: #fff;
  border: 0;
  padding: 0 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.custom-single-product .woocommerce-tabs .wc-tabs {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.custom-single-product .woocommerce-tabs .wc-tabs li {
  display: flex;
  border: 1px solid #4e4d4d1c;
  list-style: none;
}

.custom-single-product .woocommerce-tabs {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #4e4d4d1c;
}

.custom-single-product .woocommerce-tabs .wc-tabs li.active a {
  border: 0;
  color: var(--color-white);
  background: var(--bckg-primary);
}

.custom-single-product .woocommerce-tabs .wc-tabs li a {
  font: 600 normal 9px/1.4 "Montserrat", sans-serif;
  padding: 13px;
  color: var(--text);
  text-transform: uppercase;
  background: var(--bckg-white);
}

.custom-single-product .woocommerce-Tabs-panel {
  padding-top: 30px;
}

.custom-single-product .woocommerce-Tabs-panel > h2 {
  display: none;
}

.custom-single-product .woocommerce-Tabs-panel p {
  font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  text-align: justify;
}

.custom-single-product .woocommerce-Tabs-panel p a {
  color: var(--text);
}

.custom-single-product .shop_attributes {
  font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  text-align: left;
}

.custom-single-product .woocommerce-product-attributes-item__label {
  font: 400 normal 14px/1.4 "Montserrat", sans-serif;
  padding-right: 20px;
}

@media only screen and (min-width: 1024px) {
  .custom-single-product {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 768px) {
  .custom-single-product .custom-single-product__grid .product {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
  }

  .custom-single-product .woocommerce-Tabs-panel p {
    font: 400 normal 16px/1.4 "Montserrat", sans-serif;
  }

  .custom-single-product .woocommerce-product-gallery,
  .custom-single-product .summary {
    width: 45%;
  }

  .custom-single-product .summary {
    padding-top: 50px;
  }

  .custom-single-product .woocommerce-tabs {
    padding: 30px;
    margin-top: 50px;
  }

  .custom-single-product .woocommerce-Tabs-panel {
    padding-top: 50px;
  }

  .custom-single-product .woocommerce-tabs .wc-tabs li a {
    font: 600 normal 12px/1.4 "Montserrat", sans-serif;
    padding: 20px;
  }

  .custom-single-product .woocommerce-product-attributes-item__label,
  .custom-single-product .shop_attributes {
    font: 400 normal 16px/1.4 "Montserrat", sans-serif;
  }
}
