*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Colors */
  --color-primary: #4d4d4e;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #7a7a7a;

  --text: var(--color-gray);
  --text-white: var(--color-white);
}

.body {
  font-family: "Montserrat", sans-serif;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

/* Global */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  display: flex;
}

/* Header */
.header {
  width: 100%;
  padding: 7px 0;
  background-color: var(--color-primary);
}

.header__grid {
  display: grid;
  grid-template-columns: 90px 1fr 3fr 50px;
  column-gap: 40px;
  align-items: center;
}

.header__menu {
  display: flex;
  column-gap: 40px;
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
}

.submenu {
  position: absolute;
  bottom: -74px;
  left: 0;
  width: max-content;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  background-color: var(--color-primary);
}

.submenu.active {
  opacity: 1;
  visibility: visible;
}

.submenu a {
  color: var(--text-white);
}

.menu__item-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--text-white);
  font-weight: 800;
}

.menu__item-link .icon {
  display: block;
  width: 30px;
  height: 29px;
}

/* Search */
.body .is-form-style {
  border-radius: 100px;
  background: #fff;
  overflow: hidden;
}

.body .is-form-style input {
  background: #fff0 !important;
}

.body .is-form-style input.is-search-input,
.body .is-search-icon {
  border: 0 !important;
}

.header__cart {
  width: 35px;
}

.header__cart a {
  display: block;
}

/* Hero */

.section-hero {
  padding: 20px 0 0 0;
  text-align: center;
  aspect-ratio: 4/3;
}

.section-hero .desktop {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .section-hero {
    padding: 50px 0 0 0;
    aspect-ratio: inherit;
  }

  .section-hero .desktop {
    display: block;
  }

  .section-hero .mobile {
    display: none;
  }
}

/* Title */
.section-title {
  padding: 50px 0;
  text-align: center;
}

/* Featured Products */
.section-featured-products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.section-featured-products__grid li {
  list-style-type: none;
}

.section-featured-products__grid figure {
  padding: 20px;
  box-shadow: 0 2px 40px 0 rgba(0,0,0,0.07);
}

.section-featured-products__grid a {
  color: inherit;
}

.section-featured-products__grid a p {
  text-align: center;
  padding: 10px;
}